.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 523;
    font-style: normal;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.background-image {
    background-image: url('../IMAGES/FONDITO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}



.button1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 303;
    font-style: normal;
    width: 300px;
    height: 90px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.3s; 
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
}

.button1:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
    transform: scale(1.1); 
}


.button1:active {
    transform: scale(0.97);
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
    border-radius: 40rem;
    width: 20rem;
    height: 20rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}

.button1:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    height: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

